{% extends "base.jinja" %}

{% block body %}
<div class="pure-g">
  <div class="pure-u-23-24 margin-auto resp-max-48em">
    <h2>Create a Poll</h2>
    {% if error %}
    <p class="error-box">{{ error }}</p>
    {% endif %}
    <form method="post" class="pure-form pure-form-stacked">
      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1">
            <label for="title">Poll Title</label>
            <input name="title" type="text" id="title" class="pure-u-1" required />
          </div>
          <div class="pure-u-1">
            <label for="add_item_permit">Who is allowed to add items?</label>
            <select name="add_item_permit" id="add_item_permit" class="pure-u-1 pure-u-sm-1-2">
              <option value="Anyone">Anyone</option>
              <option value="OwnerOnly">Only Me</option>
            </select>
          </div>
          <div class="pure-u-1">
            <label for="user_lookup_method">User Identify Method</label>
            <select name="user_lookup_method" id="user_lookup_method" class="pure-u-1 pure-u-sm-1-2">
              <option value="SessionBased">Session Based</option>
              <option value="IPBased">IP Based</option>
            </select>
          </div>
        </div>
        <button type="submit" class="pure-button pure-button-primary">Create Poll</button>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}